<!-- product_detail.html -->

<!DOCTYPE html>
<html>
<head>
    
    {% load static %}
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">


    <title>Product Detail</title>
</head>
<body>
    <h1>Product Detail</h1>
    <h2>{{ product.name }}</h2>
    <p>Description: {{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    <img src="{{ BASIC_DIR }}/media/{{product.image}}" alt="dish_img" class="img-fluid p-2">
</body>
</html>
